
    <style>
      .maintable{
          border-spacing: 10px;
      }
      .imagetable{
          border-spacing: 10px;
      }
      .imagetable td{
          vertical-align: center; 
          text-align: center;
          height: 90px;
          font-family:sans-serif;
          font-size:10pt;
      }
      .maintable td{
          vertical-align: center; 
          text-align: center;
          height: 90px;
          font-family: sans-serif;
          font-size: 10pt;
          border: 1px solid black;
      }
    </style>
    <table width="900px;" border="0" cellspacing = "10px">
      <tr>
        <td style="width:200px;">
          <div id = "tracksdiv">
            <label> Tracks </label>
            <br>
            <table border = "1" cellpadding = "1" cellspacing = "0">
              <tbody><tr><td>Tracks are series of course. Choose one to start learning
            </td></tr></table>
          </div>
        </td>
        <td style="width:50px;">
          <table class = "imagetable" >
            <tbody>
              <tr><td><%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %></td></tr>
              <tr><td><%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %></td></tr>
              <tr><td><%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %></td></tr>
              <tr><td><%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %></td></tr>
            </tbody>  
          </table>
        </td>
        <td style="width:300px">
          <table class = "maintable">
            <tbody>
              <tr><td>Basic<br/>New to financial modeling. Start from here.</td></tr>
              <tr><td>Equity<br/>Learn to build equity models.</td></tr>
              <tr><td>Start Up<br/>Learn to build financial models to serve a startup.</td></tr>
              <tr><td>Alternative Investment<br/>Learn to build financial models to serve a startup.</td></tr>
            </tbody>
          </table>
        </td>
        <td style = "width:400px;">
          <table class = "maintable">
            <tbody>
              <tr><td>What you will learn<br/> - build interactive income statement, balance sheet, and cash flow statement</td></tr>
              <tr><td>What you will learn<br/>-How to create models for equity research</td></tr>
              <tr><td>What you will learn<br/>-How to build term sheets<br/>-Cash flow projections</td></tr>
              <tr><td>What you will learn<br/>-How to build term sheets<br/>-Cash flow projections</td></tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>


